<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <img id="twitter-logo" src="assets/twitter-logo.svg" />
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      <img id="youtube-logo" src="assets/youtube-logo.svg" />
    </a>
</div>

<div class="content" role="main">
  <div class="card-container">
  <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <img id="rocket" src="assets/rocket.svg" />
      <span>Brewery Lookup Demo Project!</span>
      <img id="rocket-smoke" src="assets/rocket-smoke.svg" />
    </div>
</div>

  <ng-container *ngIf="randomBrewery$ | async as randomBrewery">
    <h4>Your Random Brewery:</h4>
    <p>{{ randomBrewery.name }}</p>
    <p>{{ randomBrewery.city }}, {{ randomBrewery.state }}</p>
  </ng-container>

  <section class="search">
    <h4>Search for Breweries by 🇺🇸 City Name:</h4>

    <input
      class="form-control"
      [(ngModel)]="cityInput"
      type="text"
      name="cityInput"
      (ngModelChange)="this.cityInputUpdate.next($event)"
    />

    <ng-container *ngIf="breweriesByCity$ | async as breweries">
      <h4> {{ breweries.length}} brewery results for {{ cityName$ | async | titlecase }}</h4>
      <div *ngFor="let brewery of breweries">
        <span>{{ brewery.name }}</span>
      </div>
    </ng-container>
  </section>
</div>

<router-outlet></router-outlet>
